<!-- Main -->
	<div id="main">
		<div class="inner">
			<h1>About</h1>
			<div class="row uniform">
				<p>I am a designer, an inventor and a developer. I love creating. I find myself alive when I'm immersed into the process of creating something. I've done several projects where art, humanity and technology converge into. My goal is to be a better creator who bridges art and design, science and technology navigating both poles and the space lies between them.</p>
				<div class="5u">
					<span class="image fit"><%= image_tag "me.jpg" %></span>
				</div>
				<div class= "7u">
					<h3>Education</h3>
					<p><em><strong>Sogang University</strong>, Seoul, South Korea</em>
					<br><em>2012.03 ~ 2017.02</em><br>
					- Bachelor's Degree in Art & Technology
					<br>
					- Bachelor's Degree in Convergence Software</p>
					<em><strong>Gwahcheon Foreign Language High School</strong>, Gyeonggi, South Korea</em>
					<br><em>2009.03 ~ 2012.02</em><br>
					<br>
					<h3>Interests</h3>
					<p>humanity, art, design, interaction, education, VR, start-up, eco-design, eco-technology, green technology, health</p>
					<br>
					<h3>Contact</h3>
					<p><strong>Phone</strong>&nbsp +82)10-8279-7736
					<br><strong>Email</strong>&nbsp kimseyeong93@gmail.com</p>
				</div>
		</div>
	</div>
	</div>