<!-- Main -->
	<div id="main">
		<div class="inner">
			<h1>Lango</h1>
			<h3>2014.March - 2014.July</h3>
			<span class="image main"><%= image_tag "lango_poster.jpg" %></span>
			<!--<div class="row uniform">-->
			<!--	<div class="4u"><span class="image fit"><%= image_tag "lango_poste.jpg" %></span></div>-->
			<!--	<div class="4u"><span class="image fit"><%= image_tag "Remembar_Alarm.jpg" %></span></div>-->
			<!--	<div class="4u"><span class="image fit"><%= image_tag "Remembar_module.jpg" %></span></div>-->
			<!--</div>-->
			<br>
			<p>Lango is interactive cubes specially desiged for language learning.</p>
			<p>Each cube diplays a random letter. If you make a word with three different cubes, they show a corresponding picture and words in different languages like Korean or Chinese.</p>
			<div class="videoWrapper">
				<iframe src="https://player.vimeo.com/video/131195737" width="720" height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
			<p><a href="https://vimeo.com/131195737">Lango</a> from <a href="https://vimeo.com/user26465413">Saebom Kwon</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
			<p>Tool : Arduino, processing</p>
			<p>This project is done by Seyeong Kim, Saebom Kwon and Jaejoong Kim.</p>
		</div>
	</div>