<!-- Main -->
	<div id="main">
		<div class="inner">
			<h1>Underwater Experience</h1>
			<h3>2016.January - 2016.Febuary</h3>
			<span class="image main"><%= image_tag "underwater2.jpg" %></span>
			<div class="row uniform">
				<div class="4u"><span class="image fit"><%= image_tag "underwater1.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "underwater3.jpg" %></span></div>
				<div class="4u"><span class="image fit"><%= image_tag "underwater4.jpg" %></span></div>
			</div>
			<br>
			<p>Underwater Experience is a VR content where you can explore ancient sea and observe prehistoric sea creatures.</p>
			<h3>Full Screen Version</h3>
			<div class="videoWrapper">
			<iframe width="853" height="480" src="https://www.youtube.com/embed/mgiIVy_HH2s?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
			<br><br>
			<h3>Oculus VR Version</h3>
			<div class="videoWrapper">
				<iframe width="853" height="480" src="https://www.youtube.com/embed/nNdOQ1BwcNA?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
			<p>Tool : Unity, 3D Maya</p>
			<p>This project is done by Seyeong Kim(Unity Programming), Minkyoung Park(3D Modeling & Texturing) and Chaelin Park(3D Modeling & Texturing and Sound).</p>
		</div>
	</div>