<!-- Main -->
	<div id="main">
		<div class="inner">
			<h1>Woozu</h1>
			<h3>2014.November - 2015.Feburary</h3>
			<span class="image main"><%= image_tag "woozu.jpg" %></span>
			<!--<div class="row uniform">-->
			<!--	<div class="4u"><span class="image fit"><%= image_tag "Remembar_features.jpg" %></span></div>-->
			<!--	<div class="4u"><span class="image fit"><%= image_tag "Remembar_Alarm.jpg" %></span></div>-->
			<!--	<div class="4u"><span class="image fit"><%= image_tag "Remembar_module.jpg" %></span></div>-->
			<!--</div>-->
			<br>
			<p>In this project, we design a 3D printing contents web market where users can easily customize 3d models.</p>
			<p>We focus on the increasing number of personal usage of 3D printers and devise the new platform idea where non-professional users can easily print customized 3D model with thier own .</p>
			<p>Related Article :<a href='http://www.yonhapnews.co.kr/bulletin/2015/02/14/0200000000AKR20150214046900004.HTML?ebc6ed80'>"성공보단 도전" 미국 뛰어든 '겁없는' 대학생들</a></p>
			<p>This project is done by Seyeong Kim, Boyoon Shim, Jaeyoon Ahn and Sungun Kwack.</p>
		</div>
	</div>